@page "/run-report/{ReportId:int}"
@using ReportingEngineLibrary.Models;
@using ReportingEngineLibrary.Repository.IRepository;

<h3>Run Reports</h3>

@if (Parameters?.Count > 0)
{
    <div class="col-md-6">
        @foreach (var param in Parameters)
        {
        <div class="form-group">
            <label>@param.ParameterLabel</label>
                @if(param.DisplayType == DisplayType.Select_Type)
                {
                    <select class="form-control" @bind="param.ParameterValue"
                            type="@param.DataType">
                            @foreach(var item in param.SelectOptions)
                            {
                                <option value="@item">@item</option>
                            }
                    </select>
                }
                else
                {
                    <input class="form-control" @bind-value="param.ParameterValue" type="@param.DataType" />
                }
            </div>
        }
    </div>

}

<button @onclick="Test">Test</button>

@code {
    [Parameter]
    public int? ReportId { get; set; }
    [Inject]
    public IReportEngineReportParameterMappingRepository? _reportParameterMappingRepository { get; set; }
    [Inject]
    public IReportingEngineReportsRepository? _reportsEngine { get; set; }
    [Inject]
    public IReportingEngineParameterRepository? _reportEngineParametersRepository { get; set; }


    public List<FullReportEngineReportParameterMappingModel>? ReportParameters { get; set; } = new();
    public List<ReportParameters> Parameters { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ReportParameters = await _reportParameterMappingRepository?
        .GetReportParametersByReportIdAsync(ReportId);

        if(ReportParameters?.Count > 0)
        {
            Parameters = new();
            foreach(var item in ReportParameters)
            {
                List<string> selectOptions = new();
                if(item?.Parameter?.DisplayType != DisplayType.Select_Type)
                {
                    selectOptions = null;
                }
                else
                {
                    selectOptions = await _reportEngineParametersRepository?
                    .GetReportSelectOptions((int)item.ParameterId);
                }


                Parameters.Add(new ReportParameters()
                {

                    ReportId = (int)item.ReportId,
                    ParameterVariable = item.Parameter?.ParameterVariable,
                    ParameterLabel = item.Parameter?.ParameterLabel,
                    DataType = item.Parameter?.FormatType,
                    DisplayType = item.Parameter?.DisplayType,
                    SelectOptions = selectOptions
                });
            }
        }
    }

    public async Task Test()
    {
        var test = Parameters;
        await _reportsEngine.GetReportAsCsv(ReportId, Parameters);
    }

}
